body{
    background-color: rgb(9, 196, 253);
}

h1{
    color: rgb(173, 73, 73);
    text-align: center;
}

h2{
    color:rgb(60, 13, 75);
    text-align: center;
}

.header * {
    border : thick;
    border-radius: 2px;

}

.header{
    background-color: rgb(231, 174, 17);
    display: flex;
    justify-content: space-around;
 }

 .site-description{
     background-color: blueviolet;
     display: flex;
 }

 a:link{
    color : rgb(161, 20, 143);
}

a:visited{
    color : rgb(30, 10, 143);
}

.item{
    position: relative;
}

.item p{
    position : absolute;
    top:50%;
    left:50%;
    bottom: 50%;
    right: 50%;
    transform: translate(-30%,-30%);
    opacity : 0;
}

.item:hover p{
    opacity : 2;
}

.item:hover img{
    opacity : 0.65;
}






 

